<div class="content-container">
<div class ="container-dropdown">
<div class ="dropdown">
  <button class="dropbtn">Merchants</button>
  <div class="dropdown-content">
    <ul class="merchants">
    <% for merchant in @merchants %>
      <li><%= merchant.name %></li>
    <% end %>
    </ul>
  </div>
</div>
</div>

<h1>*** CREATE MERCHANT ***</h1>


<form action="/merchants" method="POST">
  <label for="merchant-name">Merchant Name: </label>
  <input type="text" id="merchant-name" name="name">

  <input type="submit" value="Create Merchant">
</form>
</div>
