<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <style>


    h1 {
      text-align: center;
    }


    ul.nav-bar {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 1em;
    }

    ul.merchants {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 10em;
      background-color: blue;

    }

    ul.merchants li {
      background-color: red;

    }

    .container{
      display: flex;
      background-color: green;
      padding:
    }

    .vertical {
      display: flex;
      flex-direction: column;
    }


    .container-dropdown {
      display: flex;
      justify-content: space-around;
    }



    .dropdown {
      background-color: yellow;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: 3px solid coral;
    }


    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      z-index: 1;
    }

    /* display the content when hovering over */
    .dropdown:hover .dropdown-content {display: block;}

    /* changed the background colour of the dropdown button */
    .dropdown:hover .dropbtn {background-color: #3e8e41;}


    .topcorner{
       position:absolute;
       top:0;
       right:0;
       margin: 0px 30px;
    }

  </style>
</head>

<body>
  <main>
    <nav>
      <ul class="nav-bar">
        <li><a href="/transactions">View All Transactions</a></li>
        <li><a href="/transactions/new">Add Transaction</a></li>
        <li><a href="/users/add-funds">Add Funds</a></li>
      </ul>
    </nav>
    <!-- content being yielded to -->
    <section>
      <%= yield %>
    </section>
  </main>
</body>
</html>
