<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/styling.css">
</head>

<body>
  <header>
    <img src="/images/app-logo.jpg">
    <nav>
      <ul>
        <li><a href="/transactions">View All Transactions</a></li>
        <li><a href="/transactions/new">Add Transaction</a></li>
        <li><a href="/users/add-funds">Add Funds</a></li>
        <li><a href="/merchants/new">Merchants</a></li>
        <li><a href="/tags/new">Tags</a></li>
      </ul>
    </nav>
  </header>
    <!-- content being yielded to -->
  <main>
    <section>
      <%= yield %>
    </section>
  </main>
</body>
</html>
