<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <style>

    ul.nav-bar {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 1em;
    }

    ul.merchants {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 4em;
      background-color: blue;

    }

    ul.merchants li {
      background-color: red;
      width: 20%;
    }

    .container{
      display: flex;
      background-color: green;
    }

  </style>
</head>

<body>
  <main>
    <nav>
      <ul class="nav-bar">
        <li><a href="/transactions">View All Transactions</a></li>
        <li><a href="/transactions/new">New Transaction</a></li>
        <li><a href="/merchants/new">Create Merchant</a></li>
        <li><a href="/tags/new">Create Tag</a></li>
      </ul>
    </nav>
    <!-- content being yielded to -->
    <section>
      <%= yield %>
    </section>
  </main>
</body>
</html>
