
<div class="content-container">
<div class ="dropdown">
  <button class="dropbtn">Tags</button>
  <div class="dropdown-content">
    <ul class="merchants">
    <% for tag in @tags %>
      <li><%= tag.name %></li>
    <% end %>
    </ul>
  </div>
</div>


<h1>*** CREATE TAG ***</h1>

<form action="/tags" method="POST">
  <label for="tag-name">Tag Name: </label>
  <input required type="text" id="tag-name" name="name">

  <input type="submit" value="Create Tag">
</form>
</div>
