
<div>
  <div class="content-container-funds">
    <div class="container-center-column">
      <h1>Current Balance: £<%= @user.balance %></h1>

      <% if (@user.balance_warning()) %>
        <h2><%= @user.balance_warning() %></h2>
      <% end %>

    </div>

    <div class="container-center-column">
      <form action="/users" method = "POST">

         <label for="add-funds">Amount:£</label>
         <input type="number" id="add-funds" name="amount">

         <input class="btn-add" type="submit" value="Add Funds">
      </form>
    </div>
  </div>
</div>
