
<div>
  <div class="content-container">




    <br>
    <br>




    <h1 class="linear-background">Create Transaction</h1>

    <div class="container" >
      <form action="/transactions" method="POST">

        <label for="merchant-select">Merchant:</label>
        <select name="merchant_id" id="merchant-select">
          <% for merchant in @merchants %>
            <option value="<%= merchant.id %>"><%= merchant.name %></option>
          <% end %>
        </select>

        <label for="tag-select">Tag:</label>
        <select name="tag_id" id="tag-select">
          <% for tag in @tags %>
          <option value="<%= tag.id %>"><%= tag.name %></option>
          <% end %>
        </select>

        <label for="description">Description:</label>
        <input required type="text" id="decription" name="description">

        <label for="amount">Amount: £</label>
        <input required type="number" step="0.01" id="amount" name="amount">

        <input class="btn-add" type="submit" value="Add Transaction">

      </form>

    </div>

    <div>
      <% if (@transaction_failed == true) %>
      <p>Sorry! You currently dont have the <a href="/users/add-funds">funds</a> for this transaction.</p>
      <% end %>
    </div>


 </div>
